<template>
  <img class="compassoLogo" alt="Compasso Logo" src="/logo.png" />
</template>

<style>
.compassoLogo {
  display: block;
  margin-top: 20vh;
  padding-bottom: 5vh;
  margin-left: auto;
  margin-right: auto;
  width: 25vw;
}

@keyframes turn {
  100% {
    transform: rotateY(0deg);
  }
}
</style>
