<template>
  <v-container>
    <v-row>
      <v-col cols="4">
        <v-card v-if="user">
          <v-row align="center">
            <v-col cols="8">
              <v-card-title>{{ user.name }}</v-card-title>
            </v-col>
            <v-col cols="4">
              <v-avatar>
                <img :src="user.avatar_url" :alt="user.login" />
              </v-avatar>
            </v-col>
          </v-row>

          <v-card-text>
            <v-row align="center" class="mx-0">
              Company: {{ user.company }} <br />
              Blog: {{ user.blog }}
            </v-row>

            <div class="my-4 subtitle-1">
              <v-icon>mdi-map-marker</v-icon> {{ user.location }}
            </div>

            <div>
              {{ user.bio }}
            </div>
          </v-card-text>

          <v-divider class="mx-4"></v-divider>

          <v-card-title>Github Repositories</v-card-title>
          <v-card-actions>
            <v-btn color="secondary" @click="loadRepos"> Repos </v-btn>
            <v-btn color="blue-grey" @click="loadStarred"> Starred </v-btn>
          </v-card-actions>
        </v-card>
      </v-col>
      <v-col cols="8">
        <v-card v-if="items.length > 0">
          <v-toolbar color="light-blue" dark>

            <v-toolbar-title><v-icon>mdi-github</v-icon> {{ subheader }}</v-toolbar-title>

            <v-spacer></v-spacer>
          </v-toolbar>

          <v-list subheader two-line>
            <v-list-item v-for="item in items" :key="item.name">
              <v-list-item-content>
                <v-list-item-title v-text="item.name"></v-list-item-title>

                <v-list-item-subtitle
                  v-text="item.language"
                ></v-list-item-subtitle>
              </v-list-item-content>

              <v-list-item-action>
                <v-btn icon :href="item.html_url" link target="_blank">
                  <v-icon color="grey lighten-1" >mdi-information</v-icon>
                </v-btn>
              </v-list-item-action>
            </v-list-item>
          </v-list>
        </v-card>
      </v-col>
    </v-row>
  </v-container>
</template>
<script>
import { mapGetters, mapActions } from "vuex";

export default {
  data: () => ({
    subheader: "",
    items: [],
  }),

  computed: {
    ...mapGetters("user", { getUser: "object" }),
    ...mapGetters("repo", { dataRepos: "data" }),
    ...mapGetters("starref", { dataStarred: "data" }),

    user() {
      return this.getUser;
    },

    repos() {
      return this.dataRepos;
    },

    starred() {
      return this.dataStarred;
    },
  },

  mounted() {
    this.$eventHub.$on("username", (username) => {
      this.loadUser(`/users/${username}`);
      //this.loadRepos()
    });
  },

  methods: {
    ...mapActions("repo", { getAllRepo: "loadAll" }),
    ...mapActions("starred", { getAllStarred: "loadAll" }),
    ...mapActions("user", { loadUser: "get" }),

    async loadRepos() {
      await this.getAllRepo(`/users/${this.user.login}/repos`);
      this.subheader = "Repositories";
      this.items = []
      this.repos.forEach((element) => {
        this.items.push(element);
      });
    },

    async loadStarred() {
      await this.getAllRepo(`/users/${this.user.login}/starred`);
      this.subheader = "Starred";
      this.items = []
      this.repos.forEach((element) => {
        this.items.push(element);
      });
    },
  },
};
</script>