<template>
  <v-container>
    <v-row>
      <v-col cols="8">
        <v-text-field
          prepend-icon="mdi-github"
          v-model="username"
          label="Who are you looking for?"
          placeholder="Enter the github user"
          filled
          rounded
          dense
        ></v-text-field>
      </v-col>
      <v-col cols="4">
        <v-btn color="success" @click="getUser" block> Search </v-btn>
      </v-col>
    </v-row>
  </v-container>
</template>
<script>
export default {
  props: {
    user: String,
  },

  data: () => ({
    username: "",
  }),

  created() {
    if (this.user != null) {
      this.username = this.user
      this.$nextTick(() => {
          this.getUser();
          this.renderComponent = true;
        });
      
    }
  },

  methods: {
    async getUser() {
      await this.$eventHub.$emit("username", this.username);
    },
  },
};
</script>