<template>
  <v-app>
    <v-main>
      <v-container>
        <CompassoLogo />
        <nuxt />
      </v-container>
    </v-main>
  </v-app>
</template>

<script>
import CompassoLogo from '~/components/CompassoLogo.vue'

export default {
  components: {
    CompassoLogo
  }
}
</script>

<style>

@keyframes turn {
  100% {
    transform: rotateY(0deg);
  }
}
</style>