<template>
  <v-row justify="center" align="center">
    <SearchUser :user="user"/>
    <ResultRepo />
  </v-row>
</template>

<script>
import SearchUser from '~/components/SearchUser'
import ResultRepo from '~/components/ResultRepo'

export default {

  async asyncData({ params }) {
    const user = params.user;
    return { user };
  },

  components: {
    SearchUser,
    ResultRepo
  },
}

</script>
