<template>
  <v-row justify="center" align="center">
    <SearchUser />
    <ResultRepo />
  </v-row>
</template>

<script>
import SearchUser from '~/components/SearchUser'
import ResultRepo from '~/components/ResultRepo'

export default {
  components: {
    SearchUser,
    ResultRepo
  },
}

</script>
