<template>
  <div class="text-center">
    <v-btn rounded color="blue-grey" dark v-on:click="login">
      <v-icon left> mdi-github </v-icon>Entrar com Github
    </v-btn>
  </div>
</template>
<script>

export default {
  components: {
    
  },
  auth: false,
  layout: 'out',
  methods: {
    login() {
      this.$auth.loginWith("github").then((response) => {
        console.log(response);
      });
    },
  },
};
</script>